/* get dots */
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: wave 1.3s linear infinite;
}

.dot:nth-child(2) {
			animation-delay: -1.1s;
		}
.dot:nth-child(3) {
			animation-delay: -0.9s;
		}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}

.wave{
  position:relative;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}